@page
@model CreateArticleModel
@{
    ViewData["Title"] = "ایجاد مقاله ";
}
<h1>@ViewData["Title"]</h1>

@if ( ViewData["Success"] != null)
{
	<div class="alert alert-success">
		@ViewData["Success"]
	</div>
}
@if ( ViewData["Error"] != null)
{
	<div class="alert alert-danger">
		@ViewData["Error"]
	</div>
}

<form  method="post">

	<div>
	<div>
		<label asp-for="@Model.Command.Name" >  </label>
		<input  asp-for="@Model.Command.Name"  class="form-control"> </input>
		<span  asp-validation-for ="@Model.Command.Name" class="text-danger" > </span>
	</div>

	<div>

		<label asp-for="@Model.Command.Client"> </label>
		<input  asp-for="@Model.Command.Client"  class="form-control"> </input>

	</div>

	<div> 
		<label asp-for="@Model.Command.Image"> </label>
		<input  asp-for="@Model.Command.Image"  class="form-control"> </input>
		<span  asp-validation-for ="@Model.Command.Image" class="text-danger"> </span>

	</div>

	<div>
		<label asp-for="@Model.Command.PictureAlt">  </label>
		<input  asp-for="@Model.Command.PictureAlt"  class="form-control"> </input>
		
	</div>
	<div>
		<label asp-for="@Model.Command.PictureTitle" >  </label>
		<input  asp-for="@Model.Command.PictureTitle" class="form-control"> </input>
		
	</div>

	<div>
		<label  asp-for="@Model.Command.ShortDiscription" >  </label>
		<input  asp-for="@Model.Command.ShortDiscription"  class="form-control"> </input>
		<span  asp-validation-for ="@Model.Command.ShortDiscription" class="text-danger"> </span>

	</div>
	</div>

	<div>
		<label asp-for="@Model.Command.Body" >  </label>
		<textarea  asp-for="@Model.Command.Body"  class="form-control"> </textarea>
		<span  asp-validation-for ="@Model.Command.Body" class="text-danger"> </span>


	</div>

<div>
<button type="submit" class="btn btn-dark"> ارسال</button>
	</div>




</form>
