@page
@model CreateArticleModel
@{
    ViewData["Title"] = "ایجاد مقاله ";
}
<h1>@ViewData["Title"]</h1>

@if ( ViewData["Success"] != null)
{
	<div class="alert alert-success">
		@ViewData["Success"]
	</div>
}

<form  method="post">

	<div>
	<div>
		<label asp-for="@Model.CreateProject.Name" > نام </label>
		<input  asp-for="@Model.CreateProject.Name"  class="form-control"> </input>

	</div>

	<div>

		<label asp-for="@Model.CreateProject.Client"> مشتری</label>
		<input  asp-for="@Model.CreateProject.Name"  class="form-control"> </input>

	</div>

	<div> 
		<label asp-for="@Model.CreateProject.Image"> تصویر</label>
		<input  asp-for="@Model.CreateProject.Name"  class="form-control"> </input>

	</div>

	<div>
		<label asp-for="@Model.CreateProject.PictureAlt"> Alt  تصویر</label>
		<input  asp-for="@Model.CreateProject.PictureAlt"  class="form-control"> </input>

	</div>
	<div>
		<label asp-for="@Model.CreateProject.PictureTitle" > عنوان تصویر</label>
		<input  asp-for="@Model.CreateProject.PictureTitle" class="form-control"> </input>

	</div>

	<div>
		<label  asp-for="@Model.CreateProject.ShortDiscription" > خلاصه مقاله</label>
		<input  asp-for="@Model.CreateProject.ShortDiscription"  class="form-control"> </input>

	</div>
	</div>

	<div>
		<label asp-for="@Model.CreateProject.Body" > متن مقاله</label>
		<textarea  asp-for="@Model.CreateProject.Body"  class="form-control"> </textarea>


	</div>

<div>
<button type="submit" class="btn btn-dark"> ارسال</button>
	</div>




</form>
