@page
@model CreateArticleModel
@{
    ViewData["Title"] = "ایجاد مقاله ";
}
<h1>@ViewData["Title"]</h1>

@if ( ViewData["Success"] != null)
{
	<div class="alert alert-success">
		@ViewData["Success"]
	</div>
}

<form  method="post">

	<div>
	<div>
		<label asp-for="@Model.CreateProject.Name" >  </label>
		<input  asp-for="@Model.CreateProject.Name"  class="form-control"> </input>
		<span  asp-validation-for ="@Model.CreateProject.Name" class="text-danger" > </span>
	</div>

	<div>

		<label asp-for="@Model.CreateProject.Client"> </label>
		<input  asp-for="@Model.CreateProject.Client"  class="form-control"> </input>
		
	</div>

	<div> 
		<label asp-for="@Model.CreateProject.Image"> </label>
		<input  asp-for="@Model.CreateProject.Image"  class="form-control"> </input>
		<span  asp-validation-for ="@Model.CreateProject.Image" class="text-danger"> </span>

	</div>

	<div>
		<label asp-for="@Model.CreateProject.PictureAlt">  </label>
		<input  asp-for="@Model.CreateProject.PictureAlt"  class="form-control"> </input>
		
	</div>
	<div>
		<label asp-for="@Model.CreateProject.PictureTitle" >  </label>
		<input  asp-for="@Model.CreateProject.PictureTitle" class="form-control"> </input>
		
	</div>

	<div>
		<label  asp-for="@Model.CreateProject.ShortDiscription" >  </label>
		<input  asp-for="@Model.CreateProject.ShortDiscription"  class="form-control"> </input>
		<span  asp-validation-for ="@Model.CreateProject.ShortDiscription" class="text-danger"> </span>

	</div>
	</div>

	<div>
		<label asp-for="@Model.CreateProject.Body" >  </label>
		<textarea  asp-for="@Model.CreateProject.Body"  class="form-control"> </textarea>
		<span  asp-validation-for ="@Model.CreateProject.Body" class="text-danger"> </span>


	</div>

<div>
<button type="submit" class="btn btn-dark"> ارسال</button>
	</div>




</form>
